@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#splash-section {
  background: url("http://i.imgur.com/YJhHj7k.jpg") no-repeat center center;
  @include background-size(cover);
  text-align: center;
  border-bottom: 10px solid rgba(0,0,0,0.5);
}

#title {
  margin: 20vh 0% 0% 0%;;
  color: white;
  font-size: 500%;
}

#title-blurb {
  // margin: 20vh 0% 0% 0%;;
  color: white;
  font-size: 110%;
}

#trip-section {
  text-align: center;
  border-bottom: 10px solid grey;  // just a measurement.
}

#works-section {
  text-align: center;
  border-bottom: 10px solid grey;  // just a measurement.
}

#dest-img {
  height: 40vh;
  width:  50vh;
}

#family-vaca {
  height: 40vh;
  width:  56vh;
  border: solid grey;
  border-width: 5px;
}

#logo-thumb-twit {
  height: 8vh;
  width:  20vh;
}

#logo-thumb-insta {
  height: 20vh;
  width:  25vh;
}

#logo-thumb-face {
  height: 10vh;
  width:  20vh;
}

#logo-thumb-four {
  height: 10vh;
  width:  30vh;
}
