<body class="row">

  <section class="small-12 columns" id="splash-section">
    <div class="small-6 small-centered columns">
      <h1 id="title">Travel Hub</h1>
    </div>
  </section>

  <section class="small-12 columns" id="trip-section" >
    <div class="small-6 small-centered columns">
      <h1>Most Popular Destinations</h1>
    </div>

    <div class="small-8 small-centered columns">
      <ul class="large-block-grid-3">
        <li>
          <img id="dest-img" src="http://images.nationalgeographic.com/wpf/media-live/photos/000/634/overrides/best-family-trips-amalfi-coast-italy_63433_600x450.jpg"></img>
        </li>
        <li>
          <img id="dest-img" src="https://duranvirginia.files.wordpress.com/2014/02/virginia-duran-blog-10-sites-to-take-the-best-skyline-pictures-in-san-francisco-mandarin-oriental-at-dusk.jpg"></img>
        </li>
        <li>
          <img id="dest-img" src="http://c3039282.cdn.cloudfiles.rackspacecloud.com/homepage/japanssintro.jpg"></img>
        </li>
      </ul>
    </div>

  </section>

  <section class="small-12 columns" id="trip-section">
    <h1>HOW IT WORKS</h1>
  </section>

</body>
{{outlet}}
