<body class="row">

  <section class="small-12 columns" id="splash-section">
    <div class="small-6 small-centered columns">
      <h1 id="title">Travel Hub</h1>
    </div>
  </section>

  <section class="small-12 columns" id="trip-section" >

    <div class="small-6 small-centered columns">
      <h1>Most Popular Trips</h1>
    </div>

    <div class="small-8 small-centered columns">
      <ul class="large-block-grid-3">
        <li>
          <img id="dest-img" src="http://images.nationalgeographic.com/wpf/media-live/photos/000/634/overrides/best-family-trips-amalfi-coast-italy_63433_600x450.jpg"></img>
          <h2>Italy</h2>
        </li>
        <li>
          <img id="dest-img" src="https://duranvirginia.files.wordpress.com/2014/02/virginia-duran-blog-10-sites-to-take-the-best-skyline-pictures-in-san-francisco-mandarin-oriental-at-dusk.jpg"></img>
          <h2>SanFran</h2>
        </li>
        <li>
          <img id="dest-img" src="http://c3039282.cdn.cloudfiles.rackspacecloud.com/homepage/japanssintro.jpg"></img>
          <h2>Japan</h2>
        </li>
      </ul>
    </div>

  </section>

  <section class="small-12 columns" id="trip-section">
    <h1>HOW IT WORKS</h1>

      <div class="small-12 small columns">
      <ul class="large-block-grid-3">
        <li>
          <h4>Create A Trip and give us a date range</h4><br><br><br>
          <a role="button" href="#" class="button">Create A Trip</a>
        </li>
        <li>
          <h4>We'll organize all your social media into one platform</h4><br><br>
          <img id="logo-thumb-twit" src="http://www.site-seeker.com/wp-content/uploads/twitter-logo.png"></img>
          <img id="logo-thumb-insta" src="http://www.mysmn.com/wp-content/uploads/2012/11/instagram-logo.jpeg"></img>
          <img id="logo-thumb-four" src="http://www.mobileworldlive.com/wp-content/uploads/2014/03/foursquare-logo.png"></img>
          <img id="logo-thumb-face" src="http://www.palaeodeserts.com/wp-content/uploads/2014/02/Facebook-logo-PSD.jpg"></img>
        </li>
        <li>
          <h4>Share your trip with other TravelHub users</h4><br><br>
          <img id="family-vaca" src="http://www.baby-things.com/wp-content/uploads/sites/136/2014/06/family_vacation.jpg"></img>
        </li>
      </ul>
    </div>
  </section>

</body>
{{outlet}}
